<div class="admin_trips span12">
  {{#each trip in controller }}
  <div class="trip">
    <div class="header" {{action selectTrip trip}}>{{trip.name}}</div>
    <div class="dates">{{trip.startDateDisplay}} - {{trip.endDateDisplay}}</div>
    <div class="details">{{trip.description}}</div>
    <hr>
  </div>
  {{/each}}
</div>

<div class="detail_view span-12">
  <h2>Details</h2>
  {{#if selectedTrip}}
    <h3>{{ selectedTrip.name }}</h3>
  {{/if}}
</div>
